.heroDesc {
    font-family: var(--font-body-medium);
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--color-dark-blue);
}

.heroBanner::after{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(40deg, rgba(203, 243, 251, 1) 0%, rgba(203, 243, 251, 0) 80%)
}

.about h2{
    font-family: var(--font-display);
    font-size: 1.85rem;
    line-height:1.85rem;

    color: var(--color-powder-blue);
    -webkit-text-stroke: 6px black;
    filter: drop-shadow(2px 3px 0 black);
    rotate: -5deg;
}

.aboutDesc{
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.25rem;
}

.outsideStroke {
   paint-order: stroke fill;
}

.highlights p{
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.25rem;
}

.highlights h2 ~ p{
    margin-bottom: 1.25rem;
}

.highlightsTitle{
    font-family: var(--font-body-bold);
    font-size: 1.25rem;
    margin-bottom:0.25rem;
}

@media (min-width: 48rem){
    .heroBanner::after{
        background:linear-gradient(5deg, rgba(203, 243, 251, 1) 0%, rgba(203, 243, 251, 0) 60%)
    }
}

@media (min-width: 64rem){
    .heroDesc{
        font-size: 1.5rem;
        line-height:1.75rem;
    }
}

@media (min-width: 96rem){
    .heroDesc{
        font-size: 2rem;
        line-height:2rem;
    }
}