li {
    color: #FFF;
    font-family: var(--font-body-medium);
    font-size: 1rem;
}

.secondary li{
    color: var(--color-dark-blue);
}

.navList li{
    transition: transform 0.3s ease-out;
}

.navList li:hover{
    color: var(--color-sky-blue);
    transform: translate(0, -5px);
    transition: transform 0.3s ease-out;
}

.dropdownContent{
    display:none;
    position:absolute;

    background-color:#FFF;
    padding: 1rem 1.75rem;
}

.secondary .dropdownContent{
    display:none;
    position:absolute;

    background-color:var(--color-sky-blue);
    padding: 1rem 1.75rem;
}

.secondary .dropdownContent li:hover{
    color:#FFF !important;
}

.dropdownContent li{
    color: var(--color-dark-blue);
}

.dropdown:hover .dropdownContent, .dropdown:focus .dropdownContent{
    display:block;
}

@media (min-width: 80rem){
    li {
        font-size: 1.25rem;
    }
}

@media (min-width: 96rem){
    li {
        font-size: 1.5rem;
    }
}