@font-face {
  font-family: 'Quicksand';
  src: url('./assets_26/fonts/quicksand/variable/quicksand-latin-wght-normal.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Special Gothic';
  src: url('./assets_26/fonts/special_gothic/variable/special-gothic-latin-wght-normal.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}