@import "tailwindcss";

@theme {
  --color-dark-blue: #0E296D;
  --color-sky-blue: #9DD9FE;
  --color-powder-blue: #CBF3FB;
  --color-light-cyan: #E2F4FF;

  --font-display: 'Dream MMA', sans-serif;
  --font-body: 'Saira-Regular', sans-serif;
  --font-body-bold: 'Saira-Bold', sans-serif;
  --font-body-medium: 'Saira-Medium', sans-serif;
}

html{
  background-color: var(--color-light-cyan);
  overflow-x: hidden;
}

.displayText{
    font-family: var(--font-display);
    -webkit-text-stroke: 8px var(--color-dark-blue);
    filter: drop-shadow(3px 5px 0 var(--color-dark-blue));
}

.outsideStroke {
   paint-order: stroke fill;
}

p{
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.25rem;
}